<h3>Inputs basicos</h3>
<div>
  <mat-form-field>
    <input matInput type="text" 
    placeholder="Introduce algo" 
    [value]="usuario.nombre" 
    (keyup)="onKeyUp($event)"
    (blur)="onBlur($event)">
  </mat-form-field>
</div>
<h3>Prefijo y Sufijo</h3>
<div>
  <mat-form-field>
    <span matPrefix>+52 &nbsp;</span>
    <input matInput type="text">
    <span matSuffix>=)</span>
  </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input matInput type="text" placeholder="Direccion">
        <mat-hint>Calle y numero</mat-hint>
    </mat-form-field>
</div>